- if messages.any?
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th{ :style => 'width:20px;'}
        %th.span2 Subject
        %th.span2 From
        %th.span5 Message
        %th.span2 Received at
        %th.span2
    %tbody
      - messages.each do |message|
        %tr{:class => ('warning' if message.unread? current_user), :id => dom_id(message)}
          %td= check_box 'message', message.id
          %td= link_to truncate(message.subject, :length => 50), message, :class => 'message-read', :remote => true, :data => {:type => :script, :id => message.id}
          %td= link_to message.sender.name, message, :class => 'message-read', :remote => true, :data => {:type => :script, :id => message.id}
          %td= link_to truncate(message.body, :length => 100), message, :class => 'message-read', :remote => true, :data => {:type => :script, :id => message.id}
          %td=l message.created_at, :format => :short
          %td.actions
            = link_to message, :class => 'btn btn-small btn-info message-read', :remote => true, :data => {:type => :script, :id => message.id} do
              %i.icon-envelope.icon-white
            = link_to [:new, :message], :id => "reply_on_message", :class => "btn btn-small btn-primary message-reply", :data => {:remote => true, :type => :script, :params => {:message => {:recipient_ids => message.sender.id.to_s, :subject => "Re: #{message.subject}"}}} do
              %i.icon-pencil.icon-white
            = link_to message, :class => 'btn btn-small btn-danger message-delete', :method => :delete, :remote => true, :data => {:id => message.id}, :confirm => 'Are you sure to delete message?' do
              %i.icon-trash.icon-white 
- else
  %h2.center There is no incoming messages.

%div#inbox_pager
  =paginate @messages[:inbox], :param_name => 'page_inbox', :params => {:box => ''}, :remote => true
  