#modal_message_show.modal.fade
  .modal-header
    %a.close{:'data-dismiss' => "modal"} ×
    %h4= message.subject
  .modal-body
    %dl.dl-horizontal
      %dt From
      %dd
        %blockquote= message.sender.name
      %dt Message
      %dd
        %blockquote= simple_format message.body

  .modal-footer
    = link_to 'Reply', [:new, :message], :id => "reply_on_message", :class => "btn btn-primary", :data => {:remote => true, :type => :script, :params => {:message => {:recipient_ids => message.sender.id.to_s, :parent_message_id => message.id, :subject => "Re: #{message.subject}"}}}
    = link_to 'Delete', message, :class => 'btn btn-danger message-delete', :method => :delete, :remote => true, :data => {:id => message.id}, :confirm => 'Are you sure to delete message?'
    .btn{:data => {:dismiss => "modal"}} Close