.page-header.clearfix
  %h2 Messages
  .pull-right
    = link_to [:new, :message], :remote => true, :data => {:type => :script} do
      %i.icon-pencil
      New message
    = link_to [:mark_all_read, :messages], :remote => true, :data => {:type => :script}, :class => 'message-mark-all-read' do
      %i.icon-th-list
      Mark all as read
    = link_to [:mark_selected_read, :messages], :remote => true, :data => {:type => :script}, :class => 'message-mark-selected-read' do
      %i.icon-check
      Mark selected as read
    = link_to [:delete_selected, :messages], :remote => true, :data => {:type => :script}, :class => 'message-delete-selected' do
      %i.icon-trash
      Delete selected

%div.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li{:class => ('active' if session['slideSelected'] == "inbox")}= link_to "Inbox (#{unread_messages_counter})".html_safe, '#inbox_messages', :data => {:toggle => :tab}
    %li{:class => ('active' if session['slideSelected'] == "sent")}= link_to "Sent", '#sent_messages', :data => {:toggle => :tab}

  %div.tab-content
    #inbox_messages.tab-pane.fade{:class => ('active in' if session['slideSelected'] == "inbox")}
      = render '/messages/inbox', :messages => @messages[:inbox]
    #sent_messages.tab-pane.fade{:class => ('active in' if session['slideSelected'] == "sent")}
      = render '/messages/sent', :messages => @messages[:sent]

