.container
	.row
		.span6
			= image_tag("atlogo.png")
		.span6
			%h2 Create New Password

			= semantic_form_for :user , :url => {:controller => 'home', :action => 'reset'} do |f|

			 = f.input :password
			 = f.input :password_confirmation
			 = f.input :email , :as => :hidden, :input_html => {:value => @new_user.try(:user).try(:email) }

			.actions
			  = f.button  'reset password »',  :class => "btn positive"
